.feature{
    flex-wrap: wrap;
}
.feature_margin{
    margin-top: 70px;
}
.feature-item{
    width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 15px;
    flex-basis: 400px;
}
.feature-item_position{
    position: relative;
}
.feature-item h2{
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 18px;
}
.feature-item p{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px;
}
.feature-item li{
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.feature-item__icon{
    background: center center / contain no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.feature-item__icon_circle{
    background-image: url(../../../images/icons/circle.png);
}
.feature-item__icon_camera{
    background-image: url(../../../images/icons/camera.png);
}
.feature-item__icon_location{
    background-image: url(../../../images/icons/location.png);
}
.feature-item__icon_chat{
    background-image: url(../../../images/icons/chat.png);
}
.feature-item__pic{
    background: url(../../../images/kiss.jpg) center center / contain no-repeat;
    max-width: 554px;
    height: 374px;
}
.feature-item__play{
    background: url(../../../images/icons/play.png) center center / contain no-repeat;
    width: 16px;
    height: 25px;
    position: absolute;
    bottom: 44px;
    right: 41px;
    cursor: pointer;
}
@media (max-width: 900px){
    .feature-item h2{
        text-align: center;
        font-size: 28px;
        line-height: 34px;
    }
    .feature-item p {
        font-size: 14px;
    line-height: 20px;
    }
    .feature_margin {
        margin-top: 0;
    }
    .feature-item__pic {
        height: 245px;
    }
}