<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        title
            block title
    body
        block header
        block top
        block feature
        block reviews
        block headline-pictures
        block pictures
        block showmore
        block pictures
        block showless
        block owner
        block headline-schedule
        block schedule
        block map
        block headline-users-reviews
        block users-reviews
        block footer
        block sponsors
        block pop-up
        script(src="js/jquery.js")
        script(src="js/main.js")  
            